html {font-size: 18px;}
body {
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 80%;
  max-width: 40rem;
  font-size: 18px;
  color: #333;
  min-height: 100vh;
  table-layout: fixed;
  line-height: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  background-color: #fff;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
}
.wrapper {
  width: 90%;
  max-width: 35rem;
  margin: auto;
}
main .header {
  text-align: center;
}
main h1 {
  line-height: 1.6em;
  margin: 0 auto 2rem auto;
}
main img {
  width: 80px;
  margin: 2rem auto 0 auto;
}
.time-title {margin-bottom: 0;}
#time {margin-top: 0;}
#work-rest-area {
  display: inline-block;
  width: 100%;
  max-width: 20rem;
  height: auto;
  line-height: 1rem;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
}
.wra-content {
  border-radius: 8px;
  padding: 10% 5%;
  background: #fff;
}
.wra-content #work-rest {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1em;
}
#next-time, #min-timer, #sec-timer {
  font-size: 1.5rem;
  font-weight: bold;
}
.blockquote {
  margin: auto;
  text-align: left;
  border: dashed 1px #333;
  border-radius: 12px;
  padding: 1rem;
}
.blockquote h2 {text-align: center;}
.blockquote h3 {margin-bottom: 0;}
.blockquote ol {margin-top: 0.5rem;}
.blockquote .italic {
  font-style: italic;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer p a {text-decoration: none;}
.footer p a:hover {text-decoration: underline;}